* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    width: 95%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

.clrarfix::after {
    clear: both;
    content: "";
    display: table;
}

h1, h2 {
    margin: 1em 0;
}

/* Estilos para encabezado */
header a {
    display: block;
}

header nav {
    margin-bottom: 1em;
}

header nav a:link, header nav a:visited {
    background-color: black;
    color: whitesmoke;
    font-weight: bold;
    padding: 0.5em;
}

header nav a:hover, header nav a:active {
    background-color: gray;
    color: whitesmoke;
    font-weight: bold;
    padding: 0.5em;
}

header img {
    width: 100%;
}

header ul {
    list-style: none;
    text-align: center;
}

header ul li {
    float: left;
    width: 25%;
}

/* main */
main > article img {
    width: 195px;
    float: right;
    margin: 0.2em;

}

main ul {
    margin-left: 2em;
}

main ol {
    margin-left: 2em;
}

main {
    width: 70%;
    float: left;
}

/* aside */
aside {
    width: 30%;
    float: right;
    padding:0 1cm;
}

aside div {
    font-weight: bold;
    text-align: center;
}

aside h2 {
    text-align: center;
}

aside img {
    width: 270px;
}

/* footer */
footer {
    width: 100%;
    text-align: center;
    clear: both;
    background-color:black;
    color: white;
}

main address {
    text-align: right;
    float: right;
}

body h1,h3,h4,h5 {
    text-align: center;
}

body {
    background-color:rgb(253, 234, 234);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: justify;
    
}
h1 img {
    display: inline-block;
    width: 80px;
    margin-left: 2.1em;
    margin-right: 2.1em;
}
main iframe {
    margin-left: 8em;
}